*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-left: 32px;
}


nav ul{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   list-style:none;
   
}

nav ul a{
    text-decoration: none;
    font-size: 1rem;
    color:rgb(11, 156, 156);

}

main{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 156, 156);
    text-align: center;
}
main img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
     
}
.h{
    color: white;
    font-size: 2rem;
    margin-bottom: 2px;
   
 
}
.para{
    color: white;
    font-size: 1rem;
    margin-bottom: 12px;
}


footer{
    flex: 4;
    display: flex;
}
.row{
    display: flex;
    height: 100%;
}

.card {
    width: 33.33%;
    padding: 20px;
     overflow: auto;
}
.card p{
    margin-bottom: 12px;
    line-height: 1.5;
}
.card h3{
    margin-bottom: 15px;
}
.cfe{
    width: 100%;
    height: 170px;
}