*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    width: 100%;
    max-width: 1000px;
     margin: 80px auto;
    /* make parent to grid container */
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows: auto auto ;
    gap: 20px;
   
}

.child1{
 
    grid-column: 1/3;
    grid-row: 1/2;
    background-color:#8253df;
    border-radius: 10px;
     padding: 20px;
     color: white;
    
}
.child1 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}
.c1 h2{
    
    font-size: 1.2rem;
    text-align: left;
}
.c1 p{
    text-align: left;
    margin-top: 30px;

}
.child2{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color:#45496c;
    border-radius: 10px;
     padding: 20px;
     color: white;
}

.child2 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}
.c2 h2{
    
    font-size: 1rem;
    text-align: left;
}
.c2 p{
    text-align: left;
    margin-top: 30px;

}

.child3{
    grid-column: 4/5;
    grid-row: 1/3;
    background-color:#f5f3ee;
    border-radius: 10px;
     padding: 20px;
}
.child3 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.c3 h2{
    
    font-size: 1rem;
    text-align: left;
}
.c3 p{
    text-align: left;
    margin-top: 30px;

}


.child4{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: 	#f5f3ee;
    border-radius: 10px;
     padding: 20px;
}
.child4 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}
.c4 h2{
    
    font-size: 1rem;
    text-align: left;
}
.c4 p{
    text-align: left;
    margin-top: 30px;

}

.child5{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color:#08072f;
    border-radius: 10px;
     padding: 20px;
     color: white;
}
.child5 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.c5 h2{
    
    font-size: 1rem;
    text-align: left;
}
.c5 p{
    text-align: left;
    margin-top: 30px;

}
.child1,
.child2,
.child3,
.child4,
.child5{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.logo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 992px){

    .parent{
        grid-template-columns: 1fr 1fr;
    }

    .child1,
    .child2,
    .child3,
    .child4,
    .child5{
        grid-column: auto;
        grid-row: auto;
    }

    .child1{
        grid-column: 1 / 3;
    }
}

/* Mobile View */
@media (max-width: 600px){

    .parent{
        grid-template-columns: 1fr;
    }

    .child1,
    .child2,
    .child3,
    .child4,
    .child5{
        grid-column: 1 / 2;
        grid-row: auto;
    }
}

