body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-size: 36px;
    margin-bottom: 10px;
}
h2{
    margin-top: 25px;
    margin-bottom: 10px;
}
p{
    line-height: 1.6;
}
img{
    float:right;
    margin-right: auto;
    margin-top: 20px;
    width: 500px;
    height: 300px;
}
a{
    color: purple;
}
