body {
    margin: 0;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}
.article-container {
    display: flex;
    gap: 40px;
    background: white;
    padding: 40px;
    max-width: 1000px;
    margin: 40px auto;
}
.article-left {
    width: 40%;
}
.article-right {
    width: 60%;
}
.article-left img,
.article-right img {
    width: 100%;
    margin-bottom: 20px;
}

.article-left p,
.article-right p {
    margin-bottom: 20px;
}
.article-right a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}
