body {
    margin: 0;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.container {
    background: #d8d8b8;
    padding: 40px;
    width: 700px;        
    margin: 60px auto;
}

.left,
.right {
    width: 100%;
}

.profile-img {
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 25px;
}

ol, ul {
    margin-left: 20px;
}

.test-link a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}
