*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  background-color: red;
  height: 100vh;
}

nav{
    background-color: white;
    color: red;
    flex: 1;
        padding: 10px 60px;
   
}
nav h2{
    font-size: 1.5rem;
}


main {
  flex: 5;
  color: white;
  display: flex;
  align-items: center;
}

.content {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 60px;
}
.content h1{
    font-size: 3rem;
}

.content p{
    font-size: 1rem;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left:200px ;
    /* padding-left: 20px; */
    background-color: white;
}

footer {
  flex: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card {
  height: 100%;
  width: 33%;
  background-color: rgb(106, 2, 2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 30px;
}

.card h3 {
  font-size: 1.7rem;
  color: white;
}

.card p {
  color: whitesmoke;
}