*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */
header{
    background-color: lightgray;
    padding: 40px 80px;
}

h1{
    font-size: 2.5rem;
}

.para{
    margin: 15px 0;
}

.cls{
    padding: 6px 12px;
    border-radius: 3px;
    background-color: rgb(30, 98, 223);
    border: none;
    color: white;
}

/* main  */
main{
    
    padding: 40px 80px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.card{
    flex: 1;
}

.buttonn{
    margin-top: 10px;
    background-color: darkgray;
    border: none;
    border-radius: 3px;
    padding: 6px 12px;
    color: white;
}

/* footer */
footer{
    padding: 20px 80px;
  
}
