*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
  width: 800px;
  height: 800px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid gray;
  /* make parent grid container*/
  display: grid;
  /* decide no of rows and colums*/
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  gap: 10px;
}


.child1{
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;          /* vertical alignment */
  justify-content: space-evenly; /* space between content and image */
}

.content{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* spacing inside text */
  padding-top: 20px;
}

.child2{
  grid-column: 3/5;
  grid-row: 1/2;
  align-content: center;
  margin: auto;
}
.child3{
  grid-column: 1/2;
  grid-row: 2/3;
  margin: auto;
  align-content: center;
}

.child4{
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;          /* vertical alignment */
  justify-content: space-evenly; /* space between content and image */
}


.child5{
  grid-column: 4/5;
  grid-row: 2/4;
  margin: auto;
  align-content: center;
  justify-content: space-evenly;
  padding: 39px;
}

.child6{
  grid-column: 2/4;
  grid-row: 3/4;
}

.child7{
  grid-row: 3/4;
  align-content: center;
  padding-left: 20px;
}
a{
    text-decoration: none;
}


@media screen and (max-width:600px) {
    /* stack viewed */
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .parent > div{
        grid-column: auto;
        grid-row: auto;
    }
}